.form{
  margin-left: 2.1rem;
}
.main{
  width: 100%;
  margin-top:2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
.navigation{
	margin-bottom: 6rem;
}
.card{
	height: 95vh;
	transition: .5s all ease-out;
}

.card:hover{
	transform: scale(.9);
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20vh 40vw;
}

.navbar{
	background-color: #1C2331 !important;
}

form{
	/*margin-left: 5rem; */
}

.display-title{
	margin-left: 3.3rem;
	font-size: 1rem;
	font-weight: 600;
	color:rgba(0,0,0,0.4);
	text-transform: uppercase;
	text-decoration: italic;
}